{% extends "base.html" %}

{% block main %}
<div class="container">
    <h2>Osaühingu asutamine</h2>
    <form action="/osauhingu_asutamine" method="POST">
        {{osauhingu_asutamise_vorm.csrf_token}}
        <div class="container">
            <div class="form-group">
                {{osauhingu_asutamise_vorm.osauhingu_nimi.label}}
                {{osauhingu_asutamise_vorm.osauhingu_nimi}}
            </div>
            <div class="form-group">
                {{osauhingu_asutamise_vorm.registrikood.label}}
                {{osauhingu_asutamise_vorm.registrikood}}
            </div>
            <div class="form-group">
                {{osauhingu_asutamise_vorm.asutamise_kuupaev.label}}
                {{osauhingu_asutamise_vorm.asutamise_kuupaev}}
            </div>
            <button type="button" id="lisa-fuus-button" onclick="addFuusAsutajaBox()">+</button>
            <button id="eemalda-fuus-button">-</button>
            <div id="fuus-asutajad">  
            </div>
            <div class="form-group">
                {{osauhingu_asutamise_vorm.asuta}}
            </div>
        </div>
    </form>
</div>
<div class="container" id="edu_sonum">
    {% if edu_sonum != None%}
        {{edu_sonum}}
    {% endif %}
</div>

<script>

function wrap_form_group(elem) {
  var form_group = document.createElement("div");
  form_group.className = "form-group";
  form_group.appendChild(elem);
  return form_group;
}
function addFuusAsutajaBox() {
  // get the number of existing boxes
  var numBoxes = document.querySelectorAll(".fuus-asutaja-box").length;

  // create a new box
  var box = document.createElement("div");
  box.className = "fuus-asutaja-box";

  var label = document.createElement("label");
  label.innerHTML = "Asutaja";
  box.appendChild(wrap_form_group(label));

  var input = document.createElement("input");
  input.type = "text";
  input.name = "fuus_is_asutajad-" + numBoxes+'-fuus_is_asutaja';
  box.appendChild(wrap_form_group(input));

  var label2 = document.createElement("label");
  label2.innerHTML = "Asutaja isikukood";
  box.appendChild(wrap_form_group(label2));

  var input2 = document.createElement("input");
  input2.type = "text";
  input2.name = "fuus_is_asutajad-" + numBoxes+'-fuus_is_asutaja_ik';
  box.appendChild(wrap_form_group(input2));

  // add the new box to the page
  var parent = document.getElementById("fuus-asutajad");
  parent.appendChild(box);
}


addFuusAsutajaBox();
</script>
{%endblock%}