{% extends "base.html" %}

{% block main %}
<div class="container">
    <h2>Osaühingu asutamine</h2>
    <form action="/osauhingu_asutamine/entry" method="POST" id="form">
        {{osauhingu_asutamise_vorm.csrf_token}}
        <div class="container">
            <div class="form-group">
                {{osauhingu_asutamise_vorm.osauhingu_nimi.label}}
                {{osauhingu_asutamise_vorm.osauhingu_nimi}}
            </div>
            <div class="form-group">
                {{osauhingu_asutamise_vorm.registrikood.label}}
                {{osauhingu_asutamise_vorm.registrikood}}
            </div>
            <div class="form-group">
                {{osauhingu_asutamise_vorm.asutamise_kuupaev.label}}
                {{osauhingu_asutamise_vorm.asutamise_kuupaev}}
            </div>
        </div>
        <div id="lisatud-fuus-asutajad">
            <h6>Füüsilisest isikust asutajad</h6>
        </div>
        <div id="lisatud-jur-asutajad">
            <h6>Juriidilisest isikust asutajad</h6>
        </div>
        <div class="form-group">
            {{osauhingu_asutamise_vorm.asuta}}
        </div>
    </form>
    <div> Lisa osanikud </div>
    <div>
        <label for="explicit-label-name">Füüsilise isiku nimi: </label>
        <input id="fuus_is_marksona" required type="text" value=""/>
        <button onclick="otsiOsanikku({nimi: document.getElementById('fuus_is_marksona').value})">Otsi</button>
    </div>
    
    <div>
        <label for="explicit-label-name">Isikukood: </label>
        <input id="fuus_is_ik" required type="text" value=""/>
        <button onclick="otsiOsanikku({isikukood: document.getElementById('fuus_is_ik').value})">Otsi</button>   
    </div>
    
    <div>
        <label for="explicit-label-name">Juriidilise isiku nimi: </label>
        <input id="juur_is_marksona" required type="text" value=""/>
        <button onclick="otsiOsanikku({jur_nimi: document.getElementById('juur_is_marksona').value})">Otsi</button>
    </div>

    <div>
        <label for="explicit-label-name">Registrikood: </label>
        <input id="juur_is_rk" name="fuus_is_marksona" required type="text" value=""/>
        <button onclick="otsiOsanikku({registrikood: document.getElementById('juur_is_rk').value})">Otsi</button>
    </div>

    <div id="fuus-otsingu-tulemused">
        <table id="fuus-otsingu-tabel" class="table"></table>
    </div>

<div class="container" id="edu_sonum">
    {% if edu_sonum != None%}
        {{edu_sonum}}
    {% endif %}
</div>

<script>
    function wrapFormGroup(elem) {
        var formGroup = document.createElement("div");
        formGroup.className = "form-group";
        formGroup.appendChild(elem);
        return formGroup;
    }

    function addOsanikToForm(asutajaID,asutajaNimi,fuusJur) {

        let id = fuusJur + "-" + asutajaID;
        if (document.getElementById(id) != null) {
            return;
        }
        var numAsutaja = document.getElementsByClassName(fuusJur + "-asutaja").length;

        var box = document.createElement("div");
        box.className = fuusJur + "-asutaja";
        box.id = id;

        var nimi = document.createElement("div");
        nimi.innerText=asutajaNimi;
        box.appendChild(nimi);

        var container = document.getElementById("lisatud-" + fuusJur + "-asutajad");

        container.appendChild(box);

        var input = document.createElement("input");
        input.type = "int";
        input.name = fuusJur + "-" + numAsutaja + "-osakapital";
        input.value=100
        box.appendChild(wrapFormGroup(input));

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = fuusJur + "-" + numAsutaja + "-right_id_osanikud";
        input.value =   asutajaID;
        box.appendChild(wrapFormGroup(input));
    }

    function otsiOsanikku(params) {

        const options = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( params )  
        };
        fetch( 'osaniku_otsing', options )
            .then( response => response.json() )
            .then( response => {
                
                let datatable = response["id"].map(function(id, i) {
                    if ("Füüsilisest isikust osaniku nimi" in response) {
                        return [id,response["Füüsilisest isikust osaniku nimi"][i],response['Isikukood'][i],"fuus"];
                    } else if ("Juriidilisest isikust osaniku nimi" in response) {
                        return [id,response["Juriidilisest isikust osaniku nimi"][i],response['Registrikood'][i],"jur"];
                    } else {
                        return [];
                    }
                });
                let kooditulp = datatable.length > 0 && datatable[0][3] === "fuus" ? "Isikukood" : "Registrikood"; 
                $('#fuus-otsingu-tabel').DataTable({
                    data: datatable,
                    searching: false,
                    destroy: true,
                    columns: [
                    { title: "Nimi", data: 1 },
                    { title: kooditulp, data: 2 },
                    { title: "Lisa asutaja", render: function(data, type, row) {
                        return "<button onclick=\"addOsanikToForm(" + row[0] + ",'" + row[1] + "', '" + row[3] +"')\">Lisa asutaja</button>";
                    }}
                    ]
                });
            } );
        }
</script>
<!--
<script>

function wrapFormGroup(elem) {
  var formGroup = document.createElement("div");
  formGroup.className = "form-group";
  formGroup.appendChild(elem);
  return formGroup;
}
    function addFuusAsutajaBox() {
    // get the number of existing boxes
    var numBoxes = document.querySelectorAll(".fuus-asutaja-box").length;

    // create a new box
    var box = document.createElement("div");
    box.className = "fuus-asutaja-box";

    var label = document.createElement("label");
    label.innerHTML = "Asutaja";
    box.appendChild(wrapFormGroup(label));

    var input = document.createElement("input");
    input.type = "text";
    input.name = "fuus_is_asutajad-" + numBoxes+'-fuus_is_asutaja';
    box.appendChild(wrapFormGroup(input));

    var label2 = document.createElement("label");
    label2.innerHTML = "Asutaja isikukood";
    box.appendChild(warpFormGroup(label2));

    var input2 = document.createElement("input");
    input2.type = "text";
    input2.name = "fuus_is_asutajad-" + numBoxes+'-fuus_is_asutaja_ik';
    box.appendChild(wrapFormGroup(input2));

    // add the new box to the page
    var parent = document.getElementById("fuus-asutajad");
    parent.appendChild(box);
    }


    addFuusAsutajaBox();
</script>
-->
{%endblock%}